[2021-10-15 17:54] bluedog13 opened #2 "username/password not supported in provider"
The [examples](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/examples/provider/provider.tf) specify that username/password can be used in the provider.  However, in my case when I try the same
[code]

I see the below error
[code]

Much appreciated.

[2021-10-16 00:01] linouk23 commented on #2
Thanks for both opening the issue and sharing the fix! 👏

You're right, one needs to use `api_key` instead of `username` and `api_secret` instead of `password`, e.g.:
[code]

We're going to fix it in our next release 👌

[2021-10-18 08:02] patrickschmelter opened #4 "API Key Resource: Automatically creating a cluster and topics"
It would be super useful to be able to give a service account the rights to access a cluster before creating it.

I have created a service account and am able to create a cluster with its access key. But, as of my understanding, in order to access the newly created cluster and create topics in it I have to log in to the confluent cloud and create new access keys for that specific cluster and use t

[2021-10-19 15:56] bluedog13 opened #5 "Support for dedicated Kafka cluster"
Currently, I see the support only for basic and standard kafka cluster creation in the confluentcloud_kafka_cluster resource.

Is there a plan to support creation of "[dedicated](https://docs.confluent.io/cloud/current/clusters/cluster-types.html#dedicated-clusters)" cluster in future releases?

Thanks.

[2021-10-19 19:07] bluedog13 opened #6 "acl - support for service account in acl. (clarification)"
Is there a way to assign a service account and a consumer group while creating an acl for a topic?

I am trying to replicate the below feature from [here](https://docs.confluent.io/ccloud-cli/current/command-reference/kafka/acl/ccloud_kafka_acl_create.html#examples)

- Allow a consumer to read from a topic using a consumer group by defining acl

[code]

Below is what I have - based on the examples

[2021-10-21 00:20] lbordowitz opened #7 "Implement an Importer for topics"
I wanted to move our confluent cloud infrastructure to being managed by Terraform. However, since there is no importer topics, I cannot move existing topics to Terraform plans.

[2021-10-22 13:32] sionsmith opened #9 "Following the sample docs causes: Error: Could not load plugin"
➜  confluentcloud git:(main) ✗ terraform plan -parallelism=1 -out=tfplan_add_sa_env_and_cluster

[code]

[2021-10-25 16:47] userkci opened #11 "Changing topic configuration generates a replace instead of an update"
After having created a topic:

[code]

When changing `retention.ms`, `terraform plan` shows it will delete/recreate the topic instead of modifying in place:

[code]

I did not verify, but I'd suspect it doesn't matter which configuration parameter you change. This is certainly undesirable in most, if not all, cases of changing topic configuration parameters. I also observed that changing `partitio

[2021-10-25 17:26] userkci opened #12 "Topic and ACL resources store Kafka API credentials in state file"
After creating topics and ACLs with the provider, the Kafka API credentials used are stored in the state file. This is, I suppose, done to allow deletion of the resources (otherwise, you have no way of knowing the credentials since the resource is not present in the inputs).

While sensitive data is [allowed in the state file](https://www.terraform.io/docs/language/state/sensitive-data.html), in t

[2021-10-26 20:13] #6 closed, assigned to nobody

[2021-11-05 17:52] linouk23 commented on #5
@bluedog13 @PradhyumnVangala check out our new `0.2.0` version where we [added](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) support for dedicated Kafka clusters lifecycle management on a public network:
![image](https://user-images.githubusercontent.com/5459870/140555939-ac01d628-1cdf-4a19-b0e0-60c7509307cc.png)

In order to use `0.2.0` version pleas

[2021-11-05 17:52] #5 closed

[2021-11-05 17:57] linouk23 commented on #9
@sionsmith check out [the docs](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project) for our new `0.2.0` version where we [fixed](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) that documentation bug.
![image](https://user-images.githubusercontent.com/5459870/140556636-12e6ce36-a160-4faf-a92d-7c53cf7dbb6

[2021-11-05 17:57] #9 closed

[2021-11-05 17:59] linouk23 commented on #12
@userkci check out [the docs](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project) for our new `0.2.0` version where we [documented](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) this issue.

![image](https://user-images.githubusercontent.com/5459870/140556928-7aba7d73-0464-4c9c-8487-d01de3ec2f3d.png)

[2021-11-05 17:59] #12 closed

[2021-11-05 18:02] linouk23 commented on #7
@lbordowitz @cricri777 check out our new `0.2.0` version where we [added](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) missing importers for `confluentcloud_kafka_topic` and `confluentcloud_kafka_acl` resources:
![image](https://user-images.githubusercontent.com/5459870/140555939-ac01d628-1cdf-4a19-b0e0-60c7509307cc.png)

In order to use `0.2.0` versi

[2021-11-05 18:02] #7 closed

[2021-11-05 18:07] linouk23 commented on #2
@bluedog13 check out [the docs](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project) for our new `0.2.0` version where we [fixed](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) that documentation bug.
![image](https://user-images.githubusercontent.com/5459870/140557832-d9045324-6251-4c93-8aed-9a32001f4ec

[2021-11-05 18:07] #2 closed

[2021-11-08 10:29] vickrame opened #14 "set acl to topic"
when i use the script in the "sample projet", i have this error `The argument "host" is required, but no definition was found.`

But in the doc, i don't see this parameter
`resource "confluentcloud_kafka_acl" "describe-orders" {
  kafka_cluster = confluentcloud_kafka_cluster.test-basic-cluster.id
  resource_type = "TOPIC"
  resource_name = confluentcloud_kafka_topic.orders.topic_name
  pattern_typ

[2021-11-09 15:01] njokic commented on #14
@vickrame please make sure you're using the latest `0.2.0` version of TF Provider by using the following snippet in your `main.tf` file:
[code]

If the problem persists, please add `host = "*"` to your resource attribute (e.g., see the [old docs](https://registry.terraform.io/providers/confluentinc/confluentcloud/0.1.0/docs/guides/sample-project) for `0.1.0` version), i.e.:
[code]

[2021-11-15 18:16] linouk23 commented on #14
@vickrame could you please let me know whether the fix provided by @njokic (it looks reasonable to me) worked for you?

[2021-11-17 03:03] RabahZeineddine opened #15 "Error: 429 Too Many Requests"
I am receiving this error on `terraform plan`.

 I do have more than 35 topics

│ Error: 429 Too Many Requests
│
│   with confluentcloud_kafka_topic.topics["<topic_name>"],
│   on main.tf line 17, in resource "confluentcloud_kafka_topic" "topics":
│   17: resource "confluentcloud_kafka_topic" "topics" {
│
╵

[2021-11-17 22:10] linouk23 commented on #15
@RabahZeineddine thanks for opening an issue!

Could you try to run
[code]
instead of
[code]

[2021-11-18 22:58] RabahZeineddine commented on #15
limiting the concurrent operations to 1 using
`terraform plan -parallelism=1`
it worked!

[2021-11-18 23:41] linouk23 commented on #15
I'm glad to hear that! FWIW you can do the same when running `terraform apply` -> `terraform apply -parallelism=1`.

[2021-11-18 23:41] #15 closed

[2021-11-22 14:35] AnishJS commented on #11
This seems critical and a basic requirement, when would it be available please?

[2021-11-22 20:23] svetozar02 opened #16 "HTTP 403 when creating a service account"
Hi,

I've created a global access API key at https://confluent.cloud/environments/XXX/clusters/XXX/api-keys.  I was able to create a topic which means that my confluent cloud api key / provider is setup properly.

However, I'm getting a HTTP 403 error when trying to create a service account:

[code]

Any thoughts?

[2021-11-22 20:28] svetozar02 opened #17 "How to create an api key for a service account?"
It seems we can create a service account by using https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_service_account.
How do we create an api key for that account?

[2021-11-23 14:26] linouk23 commented on #16
Hi @svetozar02,

Could you [check](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#prerequisites) that your org has been flagged for Early Access?
![image](https://user-images.githubusercontent.com/5459870/143042110-1fdd5bc3-7eef-470a-bb6f-a0ae30f00632.png)

Let me know if that helps.

[2021-11-23 14:28] linouk23 commented on #17
`confluentcloud_api_key` resource is not available in the most recent `0.2.0` version (so creating an api key is not possible via terraform but you could use [CLI](https://docs.confluent.io/confluent-cli/current/command-reference/api-key/confluent_api-key_create.html) instead) but it's on our roadmap, stay tuned!

[2021-11-23 14:39] svetozar02 commented on #16
That makes sense. I'll request access.

[2021-11-23 14:59] #16 closed

[2021-11-24 12:31] Marcus-James-Adams opened #18 "setting networking options for dedicated clusters"
Can you update the documentation to show how network options eg private endpoint would be set as part of the cluster creation

[2021-11-24 12:35] Marcus-James-Adams opened #19 "Importing existing \keys\environments\clusters\topics\etc"
Can you please update the documentation to show how you would import existing resources.

[2021-11-24 19:44] linouk23 commented on #18
Thanks for opening an issue @Marcus-James-Adams!

Could you explain your configuration in a bit more detail?

[2021-11-24 21:00] linouk23 commented on #19
Sure, there's no a TF resource for API Keys yet, but here're the docs that show how to export envs / clusters / topics etc:
* [confluentcloud_environment#import](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_environment#import)
* [confluentcloud_kafka_cluster#import](https://registry.terraform.io/providers/confluentinc/confluentcloud/lates

[2021-11-24 21:01] #19 closed

[2021-11-26 12:16] james-masson opened #20 "Provider path is wrong when used inside a module"
Hi,

I'm trying to write a simple reusable module using this provider.

However, it looks like the provider/terraform seems to detect the wrong provider path only when it's used inside a module.

* Structure
[code]

* consuming the module
[code]

* module itself
[code]

* Terraform init
[code]
Notice the reference to "hashicorp/confluentcloud" ?

* terraform providers
[code]
Notice the reference t

[2021-11-29 14:44] AClarkie commented on #17
Hey @linouk23 do you know when this feature will be delivered?

[2021-11-29 14:48] linouk23 commented on #17
I can't give you any exact timelines but hopefully it'll be included in one of our next releases.

[2021-11-29 15:08] AClarkie commented on #17
Thanks for the quick response, I realise an exact time frame might be difficult to provide but could you give me a rough estimate e.g. Q1 2022?

The reason I ask is that we will roll our own solution if it's unlikely to be addressed in the next few months.

[2021-11-29 17:28] linouk23 commented on #17
I see, I don't want to commit to anything but it's very likely that it's going to be addressed in the next 1-2 months.

[2021-11-29 20:04] AClarkie commented on #17
That's great thanks

[2021-12-01 10:59] sknop commented on #18
I have a similar question that might explain @Marcus-James-Adams's request:

When creating a dedicated cluster, we can choose between (depending on the cloud provider) up to 4 options:

- Public Interface
- VPC Peering
- Private Link
- Transit Gateway

The first 3 options can currently be provisioned yourself, but you will need Confluent support at the moment to set up TGW.

As I understand the cu

[2021-12-01 14:19] venkatamutyala opened #21 "BUG: Credentials configuration block isn't being updated"
Steps to recreate:
1) Create cluster specific API keys in Confluent Cloud Console.
2) Create a topic resource using the keys from #1: https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_kafka_topic
3) Remove API Keys (#1) in Confluent Cloud
4) Create new set of credentials (#1) and update the credentials block (#2)
5) Run a plan/apply and get a

[2021-12-02 08:14] fdmota opened #22 "Error: 429 Too Many Requests"
I get the following errors:

[code]

with code that looks like this:

[code]

I temporarily resolved the issue by adding a sleep of 1 second between calls in the provider
[code]

Is there a better solution?

[2021-12-02 13:38] Marcus-James-Adams commented on #18
![kafka](https://user-images.githubusercontent.com/33451031/144431038-05c8d47a-9ab8-4464-bf2c-d8ee678678ef.png)
Here is a redacted example of one of our many clusters
we have dedicated confluent cloud clusters that we only connect to via private networking from our azure network - i would there need to setup the confluent cloud side of the cluster networking as part or the cluster creation resourc

[2021-12-02 14:41] linouk23 commented on #18
@sknop @Marcus-James-Adams unfortunately I can't commit to any specific date but we're actively working on adding Private Link options (and others) in one of our next releases.

[2021-12-02 14:42] linouk23 commented on #22
Thanks for opening an issue!

Could you try https://github.com/confluentinc/terraform-provider-confluentcloud/issues/15#issuecomment-972131964?

[2021-12-02 15:28] fdmota commented on #15
It works but it feels like a workaround... Any plans to change this?

[2021-12-02 15:29] fdmota commented on #22
It works but it feels like a workaround... Any plans to change this?

[2021-12-02 15:40] linouk23 commented on #22
We're anticipating a rate limit increase for a corresponding API as soon as TF providers goes into Preview / General Access from the current Early Access stage.

[2021-12-02 15:41] #22 closed

[2021-12-06 16:54] tatianameleshko opened #23 "can't create topics/acls for dedicated clusters"
Having issues  when creating topics and ACLs on the dedicated cluster (PrivateLink). It works fine with basic clusters.  what can be the  cause of this issue - is  that dedicated clusters don't have REST endpoint enabled?

confluentcloud_kafka_topic.test: Creating...
│ Error: 404 Not Found
│   with confluentcloud_kafka_topic.test,
│   on test.tf line 17, in resource "confluentcloud_kafka_topic" "t

[2021-12-07 01:51] rafaelleme opened #24 "403 on terraform apply"
i can't create my environment or basic cluster, when I run terraform apply, it returns error 403 forbidden.

main.tf >>>

[code]
[code]

tf version
[code]

[2021-12-07 13:21] atimush commented on #24
Hello,
Same here. 403 :(

[2021-12-07 15:25] vilmosnagy opened #25 "API Key Resource: How to create a cluster & topic?"
I have the following terraform file based on the examples:

[code]

What should I put to the `confluentcloud_kafka_topic.transit-alert-trip-patches.credentials` block? With the value of the `var.confluentcloud_api_key` & `var.confluentcloud_api_secret` the `terraform apply` failes. I see no related output from the `confluentcloud_kafka_cluster.basic-cluster` block.

Is there a way to:
 - create an

[2021-12-07 22:16] linouk23 commented on #24
@rafaelleme @atimush thanks for raising an issue!

Could you [check](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#prerequisites) that your org has been flagged for Early Access?
![image](https://user-images.githubusercontent.com/5459870/143048201-6897186d-6294-494f-a40a-c2025f0893da.png)

Let me know if that helps.

[2021-12-07 22:21] linouk23 commented on #25
Thanks for raising an issue @vilmosnagy!

Reading our sample guide might [help](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project) to get more context.

More specifically, you for `0.2.0` TF provider version you need to follow [this section](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#add-

[2021-12-07 22:29] linouk23 commented on #23
Thanks for creating an issue @tatianameleshko!

That's definitely a bit surprising to see since we did test topic creation for dedicated clusters _on public network_ but not for VPC peering, AWS Transit Gateway, AWS PrivateLink, and Azure PrivateLink yet.

Could you share any debug logs [with us](cflt-tf-access@confluent.io) and reference this issue such that our team will take a look at it?

[2021-12-07 22:29] linouk23 commented on #21
Thanks for creating an issue @venkatamutyala, we'll try to address it on our next `0.3.0` release of TF Provider!

[2021-12-07 22:30] linouk23 commented on #20
Thanks for creating an issue @james-masson, we'll try to address it on our next `0.3.0` release of TF Provider.

[2021-12-08 08:29] vilmosnagy commented on #25
Thanks four your quick reply @linouk23!

If I understand you correctly, there's no way to create:
 - the cluster
 - the topics in this cluster

And there's no way to create API keys for the cluster in terraform as well.

in one terraform run. I have to:
 - create the cluster with a `terraform apply -var="should_create_the_topics_as_well=false"`
 - go to the confluent cloud website, and create an A

[2021-12-08 11:23] linouk23 commented on #25
That's exactly right!

That said, we are aware of these important issues and will fix in our new versions so it'll be possible to create whole infrastructure from terraform in one go without having to go to the UI at all.

[2021-12-08 13:52] rafaelleme commented on #24
@linouk23 I confess that I missed this part, tks for the help, i will email to request access

[2021-12-08 13:52] #24 closed

[2021-12-08 15:53] atimush commented on #24
Thank you, @linouk23. I've just requested it and will let u know the results when ready.

[2021-12-09 16:59] linouk23 commented on #23
@tatianameleshko

I followed up with our Networking team and I would like to confirm topic / ACLs creation only works for dedicated clusters on public network (i.e., not Private Link) at the moment.

We are aware of the issue and we're going to address it in our next releases.

[2021-12-10 15:05] gof-ctm opened #26 "Unable to run terraform init for custom module."
module.tf

[code]
Then ran  terraform init

[code]
Any ideas?

[2021-12-11 23:13] linouk23 commented on #26
Thanks for creating an issue! That seems to be related. to #20.

[2021-12-13 08:39] mzehetho opened #27 "Deploying "Apache Kafka on Confluent Cloud""
Hello,

as far as I understand it, this Terraform Provider "only" connects to an existing Confluent Cloud instance, that was created manually previously. Wouldn't it be better to create the Cloud integration with this provider too?
https://azure.microsoft.com/en-us/blog/introducing-seamless-integration-between-microsoft-azure-and-confluent-cloud/

Maybe it would even be possible to forego the need

[2021-12-13 09:01] gof-ctm commented on #11
Am waiting for a resolve because if I change Topic name then it gets replaced not updated.

[2021-12-15 23:44] jshcmpbll opened #28 "[UX] - Adding details to errors"
I know right now there is the 403 for having the wrong API (lack of access to the EA program for terraform) but I also had and issue with the following error:

`Error: 402 Payment Required`

I wasn't given the proper context to the issue until I ran my apply with debug finding the following:

[code]

If possible, I think it would be helpful to provide users with that detail line when there is an e

[2021-12-18 23:30] linouk23 commented on #27
Thanks for asking this question @mzehetho!

I don't think this statement ⬆️ is correct. Please take a look at our [Sample Project](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project) tutorial that shows how one could create a bunch of resources on Confluent Cloud automatically via Terraform.

[2021-12-18 23:30] #27 closed

[2021-12-18 23:32] linouk23 commented on #28
Thanks for creating this issue @jshcmpbll!

I definitely agree that our lack of error messages is very confusing and that's something we've been working on so hopefully we'll fix it in our next `0.3.0` release, stay tuned!

[2021-12-23 17:44] linouk23 commented on #21
@venkatamutyala
FYI you can currently fix it by editing TF state manually to use your new Cluster API Key (until we release a new version of TF provider).

[2021-12-31 14:53] atimush opened #29 "403 errors when creating Service Accounts"
Hello,
I'm getting 403s errors only when TF is trying to create the SAs.

[code]

All other resources are working fine. Tried with User Account and Global Cloud access, also with SAs and `OrganizationAdmin` role.

Using the latest 0.2.0 release!

Do you know what could be the problem?

Thank you,
Andrei

[2022-01-03 18:14] linouk23 commented on #29
👋 @atimush, could you check whether [this comment](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/16#issuecomment-976613438) will help you?

Let me know if that helps.

[2022-01-03 18:41] atimush commented on #29
Hello @linouk23. Our org has been enrolled long time ago already. Moreover, all other resources like clusters/ACLs/topics are creating just fine.

There is something else with the SA only!

[2022-01-03 19:26] linouk23 commented on #29
Interesting, could you double check that SA exists on CC? Sometimes CC returns `403` instead of `404`?

I know that our TF provider has a very basic error handling atm so another thing to try out would be to enable debug output:
[code]
and see if there's something interesting and share them here or send it to `cflt-tf-access@confluent.io`.

[2022-01-03 21:06] atimush commented on #29
It clearly says that the action is forbbiden for this resource while for example the cluster is created:

`2022-01-03T21:01:53.422Z [INFO]  provider.terraform-provider-confluentcloud_0.2.0: 2022/01/03 21:01:53 [DEBUG] Creating Kafka cluster with spec {"availability":"SINGLE_ZONE","cloud":"AWS","config":{"kind":"Basic"},"display_name":"basic_kafka_cluster","environment":{"id":"env-kmjg6","related":

[2022-01-03 21:08] linouk23 commented on #29
Thanks for attaching the logs! Let me take a look with my team at it.

[2022-01-03 21:31] atimush commented on #29
Going to close it as the issue has been identified on the provider side!
Thank you a lot!

[2022-01-03 21:31] #29 closed

[2022-01-09 21:09] atimush opened #30 "Support for managed connectors"
Hello,
Do you folks have anything in the roadmap in managing the connectors in TF?
Would be super nice, for example, to manage S3 Synk for backup purposes and keep the connector config updated dynamically with all the topics!

Thank you,
Andrei

[2022-01-11 01:31] linouk23 commented on #22
@fdmota could you share more details about your fix with `throttle()`? It might be a good idea for us to implement something similar while waiting for a rate limit increase.

[2022-01-11 20:16] fdmota commented on #22
it was nothing very fancy. I created a quick sleep of 1 second to experiment if it would work.
`func throttle () {
        time.Sleep(1 * time.Second)
        log.Printf("[INFO] Sleep Over.....")
}
`

[2022-01-12 02:20] linouk23 commented on #21
@venkatamutyala please check out our recent `0.3.0` release that allows you to update `credentials` [block](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_kafka_acl):
![image](https://user-images.githubusercontent.com/5459870/149052249-eec276b2-0a4f-4735-bb3d-54b0fd9a1d33.png)

[2022-01-12 02:20] #21 closed

[2022-01-13 05:18] #14 closed

[2022-01-13 06:23] linouk23 commented on #20
@james-masson thanks for waiting and providing a detailed minimum viable example!

I managed to reproduce the issue and found the [resolution](https://github.com/databrickslabs/terraform-provider-databricks/issues/402#issuecomment-723300434), here's the updated version of that comment:

It's likely due to your project structure. In `0.13.x`, you need to include the terraform `required_providers` b

[2022-01-13 06:27] linouk23 commented on #26
@gof-ctm could you please take a look at this [comment](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/20#issuecomment-1011833161) that should resolve your issue? If it doesn't, please provide a minimum viable example with both file contents and I'll help you to update the files.

Let me know if that helps!

[2022-01-14 11:13] cmaobeehive opened #31 "Use service account id instead of integer id for principal argument"
Hi,
When creating the `confluentcloud_kafka_acl` resource I need to provide the `principal` argument which seems only accepting an "integer id" instead of, for example, `confluentcloud_service_account.id`.
Is there any plan to support `confluentcloud_service_account.id` in the future in order to be able to reference it directly by using `principal = "User:${confluentcloud_service_account.test-sa.i

[2022-01-14 13:04] mdasberg opened #33 "Incorrect documentation on service_account_int_id to be of type number"
The documentation as available on the on [confluentcloud documentation page](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#add-your-kafka-api-key-to-a-terraform-file) is incorrect.
On the part on how to create the variables.tf file it is specifying that service account id's are of type number, however they are actually of type string using th

[2022-01-14 17:59] linouk23 commented on #33
Thanks for opening an issue and creating a PR!

Unfortunately, the docs are correct and that's a limitation we're working on: otherwise we'd be able to bypass this manual step by referencing SA's ID directly in ACL's principal attribute:
[code]
and remove `var.service_account_int_id` from `variables.tf`.

[2022-01-14 18:02] linouk23 commented on #31
Hi @cmaobeehive and thanks for opening an issue!

Your note is exactly right, and we're actively working on to address this limitation in our future releases of TF Provider for Confluent Cloud.

[2022-01-14 18:02] #31 closed

[2022-01-14 18:09] mdasberg commented on #33
@linouk23 The only way I got it to work is by using the service-account id, which is a string and not an integer. To get it to work I had to define it as an string. Otherwise I have no way of creating the resources environment and cluster.

This is because the service account ids are of a format sa-33...

For using it to create acl entries I could reference the api-key ids which are integers.

Cou

[2022-01-14 18:13] linouk23 commented on #33
See #31 for more context / details.

Could you double check you inserted the int ID without any quotes or something?
![image](https://user-images.githubusercontent.com/5459870/149564707-4356c9d8-0aa6-42e8-8558-6210ec5890f9.png)

I might need more details about it.

[2022-01-14 18:15] linouk23 commented on #20
The author of the issue reacted with a 👍 so I think it's OK to close the issue.

[2022-01-14 18:15] #20 closed

[2022-01-14 18:16] linouk23 commented on #26
The author of a very similar issue #20 [reacted](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/20#issuecomment-1013349078) with a 👍 so I think it's OK to close the issue too.

[2022-01-14 18:16] #26 closed

[2022-01-14 18:22] mdasberg commented on #33
executing this
[code]

creates this in the interface:
![Screenshot 2022-01-14 at 19 20 10](https://user-images.githubusercontent.com/382301/149565606-bf8a9267-9faa-4179-8fed-955ed93f7489.png)

[2022-01-14 18:25] mdasberg commented on #33
So my question would than be, where do I find the service-account-int-id?

because I now used the ID which worked but it required me to make it a string instead of number

[2022-01-14 18:34] linouk23 commented on #33
This part looks good to me.

Please follow this [note](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#use-the-confluent-cloud-console-to-inspect-your-resources) to find the corresponding int ID for your created service account.

Even though ACL creation went through, I'm not sure you created a _correct_ ACL this way that will work as expected.

[2022-01-14 18:36] linouk23 commented on #33
All that said, we're going to address this issue in one our next releases and remove that remove `var.service_account_int_id` from `variables.tf`.

[2022-01-14 18:48] mdasberg commented on #33
@linouk23 I will try that. Thanks

[2022-01-14 18:49] linouk23 commented on #33
Sounds good! Feel free to reopen an issue if you run into any other issues.

[2022-01-14 21:20] salyateem13 opened #34 "confluentcloud_kafka_acl resource not applying principle"
Using provider version 0.3.0

[code]

After applying listing cluster ACL via cli yields. Note that principle field is empty
[code]

[2022-01-15 00:40] linouk23 commented on #34
👋 @salyateem13 thanks for opening an issue!

That's a well known problem that we've been working on and planning to address in our future releases.

At the meantime, instead of passing `sa-55555` you have to manually find its corresponding int ID by following this [guide](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#use-the-confluent-cloud-c

[2022-01-15 00:40] #34 closed

[2022-01-15 00:49] linouk23 commented on #33
@mdasberg here's the example of what happens when you use `User:sa-12345` as a principal: even thought the request go through, we can see that principal field wasn't populated correctly
[code]

[2022-01-15 00:49] #33 closed

[2022-01-21 22:10] dehuszar opened #36 "data references"
Hi there,

Are there plans for data references; as in:
[code]

We would like to have a primary repo which controls all the core infrastructure, but not have to statically store all the requisite ids and pass them in to the producer and consumer services' stack.

[2022-01-23 07:49] linouk23 commented on #36
Thanks for creating this issue @dehuszar!

I definitely agree that the support for data sources will be very useful and that's something we've been working on so hopefully we'll add them in one of our next releases, stay tuned!

[2022-01-26 22:24] rspurgeon opened #37 "Rename `master` to `main` as the default branch"
The preferred nomenclature for public repos should prefer `main` to `master` as the main / default branch of this repository

[2022-01-27 15:37] mikhailznak opened #38 "ACL is not appear"
Terraform: `v1.1.2`
confluentcloud: `0.3.0`

[code]

Terraform applies current configuration but acl is not appear.
Topic and user exist

Terraform Debug log

[code]

How i need to create it in right way?

[2022-01-28 06:53] linouk23 commented on #38
Interesting, could you run
[code]
to check that ACL indeed wasn't created as a result of running `terraform apply` command?

[2022-01-28 08:25] linouk23 commented on #38
Oh I see, the issue is you're using 0.3.0 version of TF Provider and it doesn't support "User:sa-abc123" values for a principal attribute yet. You have to manually look up its integer ID: "User:12345", see [this note](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#use-the-confluent-cloud-console-to-inspect-your-resources) for more details.

Lu

[2022-01-28 08:25] #38 closed

[2022-01-31 22:21] linouk23 commented on #36
👋
check out our most [recent](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md) `0.4.0` release where we added data sources for:
    * `confluentcloud_environment`
    * `confluentcloud_kafka_cluster`
    * `confluentcloud_kafka_topic`
    * `confluentcloud_service_account`

[2022-01-31 22:21] #36 closed

[2022-01-31 22:24] linouk23 commented on #28
👋 @jshcmpbll please check out our most recent [0.4.0 release](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) where we fixed the issue!

[2022-01-31 22:24] #28 closed

[2022-01-31 22:25] linouk23 commented on #15
👋 @RabahZeineddine please check out our most recent [0.4.0 release](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) where we fixed the issue!

[2022-01-31 22:25] linouk23 commented on #22
👋 @fdmota @vilmosnagy please check out our most recent [0.4.0 release](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) where we fixed the issue!

[2022-02-01 16:40] dehuszar commented on #36
Hooray!  Thanks for the ping

[2022-02-01 17:31] bogdaniordache opened #40 "v0.4.0 - Error: Provider produced inconsistent result after apply"
We are trying to upgrade the provider from version 0.2.0, because we are getting the `Error: 429 Too Many Requests`, to the 0.4.0 version.

On apply we get the Plan: 15 to add, 0 to change, 0 to destroy.

When confirming the apply, configuration starts to drift: in confluent cloud all the resources are created, but some of them are not reflected in the state file.

Within the process we get the fo

[2022-02-01 18:17] linouk23 commented on #40
@bogdaniordache thanks for opening an issue!

That's a great idea 👍

Could you confirm you're following our [upgrade guide](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/upgrade-guide-0.4.0)?

If yes, we might need be interested to send the redacted output from every command of that guide to this [email](cflt-tf-access@confluent.io) so we could investigate.

[2022-02-01 19:01] linouk23 commented on #40
Until we figure this out, one easy fix could be to [import](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_kafka_topic#import) those 15 topics.

[2022-02-02 10:50] bogdaniordache commented on #40
Yes, I am following the guide, this is related to topics, and with a fresh state at every switch of provider version. Clusters remain the same, isolating just to topic generation.

The plans were executed on `0.4.0`, running plan, apply and destroy(with `-parallelism=2`) work fine in `0.2.0`.

Can be a solution, but not a reliable one, especially within larger deployments.

[2022-02-02 12:06] jorgenfries opened #41 "API Key Resource: Generate/Ouput API Key & Secret for confluentcloud_service_account object"
I have setup automatic creations of clusters, topics, service account, ACL's

However there is no option to output the API key & secret for the service account in the `confluentcloud_service_account` resource.
This has to be done manually through the portal & copy/paste into our variable sets for the applications using the accounts.

Please provide an option in the next version to generate & outpu

[2022-02-02 17:50] linouk23 commented on #41
@jorgenfries thanks for opening an issue!

We're aware of this issue (see #4) and we're actively working on it 👌

[2022-02-03 10:23] moonsub-kim commented on #11
Does v0.4.0 resolve this? @linouk23

[2022-02-03 13:29] azsefi opened #42 "Service account data source by display name"
Current service account data source does not make it possible to provide display name and get the id as output. It is frequently needed to get service account id to use for example in a topic acl. Is it possible to add that feature?

[2022-02-03 13:35] azsefi opened #43 "Id check fails for old environments"
Because of the [check](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/a1758cfd64209dec64b3a099254ab5faf97c41b0/internal/provider/provider.go#L149) we can not use the terraform module with our existing environments. Old environment IDs do not start with "env-" prefix. Is there any special reason for that check? Can the check be relaxed to make it possible to use with older e

[2022-02-03 17:08] linouk23 commented on #11
@moonsub-kim unfortunately it doesn't.

[2022-02-03 17:12] linouk23 commented on #42
Unfortunately that is currently not supported still underlying API requires Service Account ID for a [read](https://docs.confluent.io/cloud/current/api.html#operation/getIamV2ServiceAccount) request.

I'd probably recommend either use service account data source by [providing](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/data-sources/confluentcloud_service_accoun

[2022-02-03 17:14] linouk23 commented on #43
Thanks for opening an issue @azsefi!

That's a great catch, we'll fix it in `0.5.0`!

[2022-02-09 09:29] PlugaruT commented on #41
@linouk23 any ETA regarding this? It defeats the purpose of terraforming everything if it needs manual actions, like creating Kafka API keys to create topics on a cluster.
Thanks

[2022-02-09 18:02] linouk23 commented on #41
@PlugaruT that's a great point! We're _hoping_ to close this gap towards the end of the quarter.

[2022-02-14 13:39] dkravetz opened #44 "confluentcloud_kafka_acl support for a list of principals"
Hi Confluent team!

I have a question/feature request/conversation that I would like to start.
Would it be possible for this Terraform provider to support a **list** of principals for a given `confluentcloud_kafka_acl` ?

One example from the point of view of a consumer of this provider could be:

[code]

Perhaps by creating and returning an `array` or `slice` of `Acl`s? it would make sense that a

[2022-02-14 13:39] dkravetz opened #72 "confluentcloud_kafka_acl support for a list of principals"
Hi Confluent team!

I have a question/feature request/conversation that I would like to start.
Would it be possible for this Terraform provider to support a **list** of principals for a given `confluentcloud_kafka_acl` ?

One example from the point of view of a consumer of this provider could be:

[code]

Perhaps by creating and returning an `array` or `slice` of `Acl`s? it would make sense that a

[2022-02-14 15:12] dkravetz commented on #44
An improvement would be simply a `list(string)` where each string represents a given principal ID

[2022-02-15 17:55] tatianameleshko opened #45 "creation of networks and dedicated clusters over the private link"
Hello, When the functional to create networks and dedicated clusters over the private link will be available? Thank you

[2022-02-15 19:27] linouk23 commented on #45
Thanks for asking @tatianameleshko!

These resources should be available next quarter but I can’t promise anything.

[2022-02-16 13:34] afoley-st commented on #40
I see the same issue when creating topics with the confluent provider. It seems to appear about 65% of the time with clean `terraform apply`'s

[2022-02-16 15:05] afoley-st commented on #40
to follow up on the above - If i add a long sleep (we create an API key with automation), then it seems to work. I think it stems from that fact that keys are not immediately active. Heres my terraform:
[code]

I hope this helps someone!

[2022-02-17 15:03] AKrill91 opened #46 "Ability to get resources environments by name instead of just id."
It would be extremely helpful to be able to look up the id of an environment or cluster given its name. I could see this either being done using the existing data sources, or adding new plural forms of the existing data sources that return lists that can then be filtered on the caller side. An example of the latter in another provider would be the aws_eks_cluster and aws_eks_cluster**S** data sour

[2022-02-18 10:48] igwejk commented on #23
@linouk23 thanks for looking into this issue. Do you have a timeline for when the fix can be released?

[2022-02-21 21:50] phumberdroz commented on #25
Where can I keep track of this feature request?

[2022-02-21 22:04] linouk23 commented on #25
@phumberdroz that's a great question, I'm not sure why I closed this issue.

The best way is probably to start watching this repository and so you're notified whenever there are any updates.

[2022-02-23 02:35] linouk23 commented on #42
@azsefi given the fact there's a similar request #46 we might be able to add it in the following release.

[2022-02-23 08:29] linouk23 commented on #11
@moonsub-kim @gof-ctm @AnishJS @userkci @vpoyraz @jmborsani

I've got a quick question regarding this issue: will it be helpful to introduce topic config updates without allowing a user to delete a topic config at all (but supporting value updates`"retention.ms" = "600000" -> "6000000"` / adding new topic configs)? Please react either 👍 or 👎 .

[2022-02-23 13:28] charlottemach commented on #40
Having the same issue (topic creation succeeds, but terraform state doesn't show all of them), below are some (sanitized) logs from the trace for one topic.

`2022-02-23T12:02:02.642+0100 [INFO]  provider.terraform-provider-confluentcloud_0.4.0: 2022/02/23 12:02:02 [DEBUG] Created Kafka topic <CLUSTERID>/<TOPICNAME>: timestamp=2022-02-23T12:02:02.642+0100
2022-02-23T12:02:02.642+0100 [INFO]  provi

[2022-02-23 19:05] linouk23 commented on #40
Thanks for sharing your experience! FWIW if the Kafka API Key is not active you should be getting `401` so it might be a bit different.

[2022-03-03 05:43] linouk23 commented on #40
Update: we're hoping to release `0.5.0` on Friday or next week that will include a fix for it:

That said, we found it difficult to reproduce the issue: namely, we were able to create 200 topics for a Standard cluster so we were wondering if it might be connected to other factors such as cluster types. Could you confirm what type of cluster / cloud are you using? For example,
* _Basic_ Kafka clust

[2022-03-03 08:12] bogdaniordache commented on #40
Issue was found while trying to setup topics on an AWS Basic Kafka cluster.

[2022-03-03 08:25] linouk23 commented on #40
Update: I managed to reproduce the issue for a Basic cluster for `0.4.0` 😮 (and Confluent Cloud Console does show all 100 topics), will try to create 100 topics for a Basic cluster using an unreleased `0.5.0` version of TF Provider for Confluent Cloud 🤞 now.

[2022-03-03 09:27] AAhmed84 commented on #40
We are facing this issue with Standard cluster where we get either 400 error or "terraform root is missing" error. We started with an attempt to create 200+ topics but this never worked. We even tried 10 topics and still same issue. It only work with 3 topics for standard cluster using terraform 0.4.0.

[2022-03-03 09:47] linouk23 commented on #40
@AAhmed84 could you open a separate issue for `400` error? I think it might be a different issue.

It would also help if you could include & share the sanitized [debug logs](https://www.terraform.io/internals/debugging).

[2022-03-03 18:47] linouk23 commented on #40
@AAhmed84 gotcha 👍 , then updating to `0.5.0` [should help](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/40#issuecomment-1057795214), ETA is early next week most likely.

[2022-03-03 20:10] KBalderson commented on #12
Hey @linouk23!

I don't think a warning in the docs actually solves OPs problem.

When I run `terraform state pull`, I can see my Kafka API Keys (not confluent keys) in the state file. It's not the provider config that's the problem, it's the state that is stored for the ACLs and topics.

The provider is able to be provisioned with environment variables, but the `confluentcloud_kafka_topic` and `c

[2022-03-03 20:51] linouk23 commented on #12
@KBalderson you're right, that specific doc note might be a bit confusing and it corresponds to both Kafka & Cloud API Keys.

The idea here is to follow Terraform official [docs](https://www.terraform.io/language/state/sensitive-data#recommendations) about _Sensitive Data in State_:

Speaking about

That's a great idea but we did see a feedback that it's not super convenient to set env vars to eve

[2022-03-04 04:27] linouk23 commented on #12
Here's the screenshot I wanted to posted in one my previous messages:
![image](https://user-images.githubusercontent.com/5459870/156699494-7ea138c4-ff34-48e6-a284-4c1bb9d050a6.png)

[2022-03-04 06:56] sourabhkrishna opened #47 "When will the providers for working with KSQLDB app be available ?"

[2022-03-04 10:57] pbarsotti-glovo commented on #11
Also deletion is not a sync operation, so many times the creation fails with an error "Error: 400 Bad Request: Topic 'topic_name' is marked for deletion." since the provider is not waiting for the finalization before trying to recreate it.

[2022-03-04 16:59] linouk23 commented on #11
@pbarsotti-glovo interesting, you mean like topic deletion?

[2022-03-07 03:57] linouk23 commented on #47
Thanks for opening an issue @sourabhkrishna!

It's in our future plan but we don't have any details yet.

[2022-03-07 17:38] jcustenborder opened #48 "Error message when resources are exceeded is confusing"
The organization I was working with had 10 environments. When the provider went to great the 11th environment the following error message was returned.

[code]

[2022-03-08 02:32] linouk23 opened #49 "Ability to get resources clusters by name instead of just id."
### What
See #46 for more details.

[2022-03-08 02:33] linouk23 commented on #46
Created a separate issue #49 for clusters specifically.

[2022-03-08 03:27] linouk23 opened #50 "Make topic deletion a sync operation"
### What
![image](https://user-images.githubusercontent.com/5459870/157160342-9e2a56af-f868-4cd2-a596-9c3ee75aeaee.png)
[link](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/11#issuecomment-1059057985)

Namely, when using `0.4.0` TF Provider and try to run `terraform destroy` && `terraform apply` for a Kafka topic resource, one would be able to see the following error:
[c

[2022-03-08 04:37] linouk23 commented on #48
@jcustenborder could you confirm the version of TF Provider for Confluent Cloud that you're using? We did [add](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) descriptive error messages in `0.4.0` but there could be a bug or something.

[2022-03-08 19:29] linouk23 commented on #25
@itaykat it didn't, we're working on a fix that we are hoping to release toward the end of March.

[2022-03-08 21:29] fireinhole commented on #48
I hit same 10 environment limit and getting the following message with version = "0.4.0"
[code]

[2022-03-08 21:36] linouk23 commented on #48
@fireinhole it looks like there're 2 separate issues:
1. Not very descriptive error message: `402 Payment Required` -> `402 Payment Required: Your organization is currently limited to 10 environments`. (it seems to be resolved when updating from `0.3.0` to `0.4.0`).
2. How to resolve `Your organization is currently limited to 10 environments` [quotas](https://docs.confluent.io/cloud/current/quotas

[2022-03-08 21:48] #48 closed

[2022-03-10 00:40] linouk23 commented on #38
👋 @mikhailznak to close the loop, please check out our [0.4.0 release](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) where we fixed the issue!

[2022-03-10 00:41] linouk23 commented on #50
Check out our [0.5.0 release](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

[2022-03-10 00:41] #50 closed

[2022-03-10 00:43] linouk23 commented on #11
Check out our most recent release of the [TF Provider for Confluent Cloud `v0.5.0`](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

cc @pbarsotti-glovo @moonsub-kim @gof-ctm @AnishJS @userkci @vpoyraz @jmborsani @EaglelJoe

[2022-03-10 00:43] #11 closed

[2022-03-10 00:44] linouk23 commented on #42
Check out our most recent release of the [TF Provider for Confluent Cloud `v0.5.0`](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

cc @azsefi

[2022-03-10 00:44] #42 closed

[2022-03-10 00:45] linouk23 commented on #46
Check out our most recent release of the [TF Provider for Confluent Cloud `v0.5.0`](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

cc @AKrill91 @atimush @raytung @matefarcas-recrd

[2022-03-10 00:45] #46 closed

[2022-03-10 00:46] linouk23 commented on #40
Check out our most recent release of the [TF Provider for Confluent Cloud `v0.5.0`](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

cc @AAhmed84 @bogdaniordache @charlottemach @afoley-st

[2022-03-10 00:46] #40 closed

[2022-03-10 00:46] linouk23 commented on #43
Check out our most recent release of the [TF Provider for Confluent Cloud `v0.5.0`](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#050-march-9-2022) where we fixed the issue!

cc @azsefi

[2022-03-10 00:46] #43 closed

[2022-03-10 01:48] linouk23 commented on #23
@igwejk can't promise anything but we're hoping to release it in Q2.

[2022-03-10 01:49] linouk23 commented on #30
Thanks for opening an issue @atimush!

It's in our future plan but we don't have any details yet.

[2022-03-10 01:54] linouk23 commented on #34
@salyateem13 starting from `0.4.0` [version](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) TF Provider supports `principal = "User:sa-abc123"` so you don't need to look up corresponding int ID manually and can reference SA's ID:
[code]

[2022-03-10 01:55] linouk23 commented on #33
@mdasberg starting from `0.4.0` [version](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) TF Provider supports `principal = "User:sa-abc123"` so you don't need to look up corresponding int ID manually and can reference SA's ID:
[code]

[2022-03-10 01:56] linouk23 commented on #31
@cmaobeehive starting from `0.4.0` [version](https://github.com/confluentinc/terraform-provider-confluentcloud/blob/master/CHANGELOG.md#040-january-28-2022) TF Provider supports `principal = "User:sa-abc123"` so you don't need to look up corresponding int ID manually and can reference SA's ID:
[code]

[2022-03-10 01:57] linouk23 commented on #24
To close the loop, I think @atimush resolved the access issue.

[2022-03-10 01:59] linouk23 commented on #17
Not sure why I closed this issue 😕

[2022-03-11 22:42] bluedog13 opened #51 "v0.4.0/v0.5.0 - Unable to create ACL after creating topic (401 error) - basic cluster"
1.  Create the service accounts using the Cloud Keys. - WORKS AS EXPECTED
2. Create a topic with the cluster key. - WORKS AS EXPECTED

However when I try to add ACL to the topic, for the created service account using the same cluster key, I get the below error
[code]

Below is the setup

[code]

What is causing the "401" error during the creation of ACL when the cluster is the same and the topic w

[2022-03-11 23:23] ConfluentSpencer commented on #51
@bluedog13 what version of the Provider are you using?
Can you also share the format of this Service Account ID:
` principal     = "User:${var.mynamespace-myproducerapp-sa_id}"`
Is it a series of numbers, or is it SA-1234 format?

Can you also try removing this line and seeing if it will work?
  host = "*"

[2022-03-14 00:33] bluedog13 commented on #51
I have sent the ord id to the above email.  I'll share the logs once I set them up.  Thanks.

[2022-03-14 00:41] bluedog13 opened #52 "Enhancement: Need to specify Kafka cluster type as argument - for code reusability"
Currently, we use the below code to spin a kafka cluster. (As an example, we are spinning a basic cluster below for a lower environment)
[code]

If the code above has to be re-used in a higher environment and the need is for a standard/dedicated cluster and not basic,  this setup cannot be used as-is, since the cluster type has to be updated in the code.  This is even while having workspaces creat

[2022-03-14 00:45] bluedog13 commented on #23
In the past (v0.3.0), I have been able to create topics and ACL's on basic kafka cluster.

[2022-03-14 01:56] linouk23 commented on #51
@bluedog13 just to double check, could you share the role / ACLs of the service account that owns a corresponding Kafka API Key (I know that you'd likely see `403` error instead but still):
[code]

[2022-03-14 02:16] bluedog13 commented on #51
The service account was created using  "confluentcloud_service_account" resource and has been manually assigned a key/secret that is restricted to the environment:cluster the topic resides in.

[code]

The ACL details are as follows.
[code]

The generated API key details are as follows
[code]

The service account details are as follows
[code]

[2022-03-14 02:32] linouk23 commented on #51
Thanks for a quick reply and attaching all the commands you run!

Could you also open https://confluent.cloud/settings/org/assignments and confirm that `sa-yo8**` SA has a `CloudClusterAdmin`, `EnvironmentAdmin`, `OrganizationAdmin` [role](https://docs.confluent.io/cloud/current/access-management/access-control/cloud-rbac.html) in the target environment?

The idea is Kafka API Key infers the permi

[2022-03-14 02:58] bluedog13 commented on #51
The account "sa-yo8**" has no role assigned in the target environment.

The question now I have is -  I created the service account using the below.  **The part I have missed by comparing with the the shared configuration file is the "confluentcloud_role_binding" part** to the service account.  Could this be my issue?
[code]

Does this mean, it's not sufficient to create a service account but one

[2022-03-14 03:23] linouk23 commented on #51
That's a great idea to create that role binding and try to recreate ACLs that was failing with `401` before. If that does fix `401` -- let us know and we'll answer your other questions from the comment once we figure out the exact issue.

[2022-03-14 15:00] bluedog13 commented on #51
I was able to resolve this without adding role-binding part to the service account.

**The resolution was -  the cloud key/secret is required somewhere (not sure), even though we specify the "cluster_api_key" and "cluster_api_secret" while provisioning the topic and ACL's.**   In my solution setup, I have a seperate folder to create topics (using work spaces for different environments)

Add the ap

[2022-03-14 15:05] jfosdick commented on #52
@bluedog13 Would [dynamic Terraform blocks](https://www.terraform.io/language/expressions/dynamic-blocks) help your setup? Not the prettiest but could help with your code re-use:

[code]

Example variable definition:
[code]

[2022-03-14 15:15] VipulZopSmart opened #53 "Terraform Scripts fails, error indicates plugin crashed"
Getting this error while running the below terraform script for provisioning of topic in Confluent kafka cluster.
Giving the cluster_id , secrets as inputs.

[code]

[2022-03-14 15:53] linouk23 commented on #51
That's great to hear!

They are required for ACLs and the reason why is TF Provider is doing service account ID conversion behind the scenes (`sa-abc123` -> `56789`) by using an API that requires a token generated from Cloud API Key.

[2022-03-14 16:17] bluedog13 commented on #51
Thanks for the clarification.  I believe this is the change in v0.4.0/v0.5.0 where "sa-****" format is being used for ACL and not integer values earlier.

This also makes sense as to why it worked in v0.3.0 and earlier.

[2022-03-14 17:00] linouk23 commented on #51
Thanks for figuring it out on your own @bluedog13, great job!

[2022-03-14 17:00] #51 closed

[2022-03-14 17:14] linouk23 commented on #52
@jfosdick thanks for helping out, that looks like an amazing idea!

[code]

@bluedog13 the reason why we're a little bit hesitant going with this design is there're some config options that only makes sense for dedicated Kafka cluster (and most likely we won't have any config expected for _Basic_ Kafka clusters at all) so in some sense you might think about cluster type and its config as something

[2022-03-14 18:35] linouk23 commented on #53
Thanks for providing a sample output! The "good" news is even though TF provider crashed (which we'll fix in our next release), it is the result of the underlying HTTP error from [Kafka REST API](https://docs.confluent.io/cloud/current/api.html#operation/createKafkaTopic). More specifically, I suspect Kafka REST API returned 400 / 500 error:
[code]
where `<TOKEN>` is:
[code]

There're 2 ways you c

[2022-03-14 19:34] linouk23 commented on #53
@VipulZopSmart could you confirm `http_endpoint` starts with `https://` and your Kafka cluster is _Basic_, _Standard_ or _Dedicated_ Kafka cluster that is accessible over the public internet (not Private Link / VPC peering)?

[2022-03-14 19:59] VipulZopSmart commented on #53
@linouk23  cluster is **basic** and endpoint accessible over public network.

[2022-03-14 20:09] linouk23 commented on #53
Interesting, thanks for trying it out! It definitely should work for _Basic_ Kafka cluster. Could you also try to send a curl to your `http_endpoint` as described ⬆️ @VipulZopSmart?

[2022-03-14 20:20] VipulZopSmart commented on #53
@linouk23

`'Authorization: Basic <TOKEN>'` value should be kafka-secret-key, right?

[2022-03-14 20:22] linouk23 commented on #53
@VipulZopSmart correct, it should be the output of the following command:
[code]
where
[code]

[2022-03-14 20:35] VipulZopSmart commented on #53
After hitting to the endpoint in postman, it says `401 unauthorized error` in postman console.How's that possible?

[2022-03-14 20:37] linouk23 commented on #53
@VipulZopSmart `401` means that the token was not accepted (e.g., there's a typo or something).

Could you use `curl` command instead of using postman?

[code]

[2022-03-14 22:26] ConfluentSpencer commented on #51
Nice work @bluedog13! Thanks for helping @linouk23!

[2022-03-14 23:10] ConfluentSpencer commented on #51
@bluedog13 would you be willing to share more about how you structure your TF workspace? I'm wondering if we will need to call this out somewhere in our docs for people not doing monolithic deployments.

[2022-03-15 03:33] VipulZopSmart commented on #53
@linouk23
It's working fine, i got the response.

[2022-03-15 04:10] linouk23 commented on #53
Thanks for confirmation! Could you inspect / copy TF redacted logs (they may show the exact error) as the next step? Namely, you should run
[code]
And then search for `401` / `403` errors in the log file (or remove creds and send it to [this email](cflt-tf-access@confluent.io)) and share your findings with us.

[2022-03-15 04:20] VipulZopSmart commented on #53
There are no `401`/ `403` errors in the log file.

[2022-03-15 04:23] linouk23 commented on #53
@VipulZopSmart interesting, could you search for `grep -E 'warn|error' tf_logs.txt` and eyeball the last 100 lines of that file or something to find the failed requests?

[2022-03-15 04:30] VipulZopSmart commented on #53
There are some logs related to `warn|error` -
[code]

[2022-03-15 04:33] linouk23 commented on #53
@VipulZopSmart thanks for sending the logs! Yeah these 4 lines don't seem too relevant to your error so it might be a good idea to inspect that file further (or remove credentials and send it to [this email](cflt-tf-access@confluent.io) so you won't have to waste too much of your time).

[2022-03-15 04:47] VipulZopSmart commented on #53
Sorry, but I cant' see this email.

[2022-03-15 04:49] linouk23 commented on #53
@VipulZopSmart sure thing, let me paste it here:
`cflt-tf-access@confluent.io`

[2022-03-15 06:11] VipulZopSmart commented on #53
Issue got resolved.Thanks @linouk23 for helping out. The issue was with `http_endpoint` of the cluster.

[2022-03-15 06:11] #53 closed

[2022-03-15 10:34] abintrd commented on #30
This would be super useful to manage connectors using TF. Our use case requires managing 60+ connectors. Managing this using UI is not viable. Using rest api or cli means we need to build our own application to integrate with our continuous deployment pipeline. This also means we also need to take care of secrets management for these connectors.

A provider with integration to KMS or Key vault wil

[2022-03-15 16:22] bluedog13 commented on #51
Sure, I can share the structure.   I am also using workspaces to map to different environments for clusters and topics.  Service accounts is tricky since they are not tied to environment.

[code]

[2022-03-15 16:42] ngapaillard opened #54 "data.confluentcloud_service_account.service_accounts_confluent with display name doesn't use cursor when listing..."
Hi,

When using:
data "confluentcloud_service_account" "service_accounts_confluent" and display_name on an existing sa name (verified with confluent cli). The provider doesn't find the sa.
After having a look to the sources it seems the provider call the [api](https://docs.confluent.io/cloud/current/api.html#operation/listIamV2Users) that has a paginated result with 100 elements max by page... It

[2022-03-15 20:14] linouk23 commented on #54
Thanks for reporting the issue @ngapaillard and sharing the root cause!

We'll address it in our next release.

[2022-03-16 09:47] ngapaillard commented on #54
Hi do you have any idea of the due date of the next release ? In order to anticipate in our side...

[2022-03-16 18:20] ggmoy-tt opened #55 "Stack trace creating confluentcloud_kafka_acl resource"
Hey Folks,

I'm getting the following stack trace trying to create a Kafka ACL using Confluent Terraform provider v0.5.0:

[code]

## How to reproduce?

1. Create a Terraform file with the following content:

[code]

2. Run `terraform apply`:

[code]

3. Create API Key:

[code]

4. Using the API Key and Secret from previous command output, add the following code to the Terraform file created in po

[2022-03-16 23:11] linouk23 commented on #55
Thanks for reporting the issue @ggmoy-tt and providing so many details to help us debug the issue!

1. Could you switch to `0.4.0` version of TF Provider for Confluent Cloud and rerun your configuration? This way you'll be able to see a more descriptive error message (vs just stack trace) and share with us the findings?

2. Could you double check you set the following env variables:
[code]

[2022-03-16 23:14] linouk23 commented on #54
@ngapaillard I'd expect it to happen in about 2-3 weeks but can't promise anything.

[2022-03-17 01:35] ggmoy-tt commented on #55
I re-created the environment, cluster and service account using v0.4.0. Now, the error is the following:

[code]

[2022-03-17 01:37] ggmoy-tt commented on #55
And, as to the environment variables `CONFLUENT_CLOUD_API_KEY`and `CONFLUENT_CLOUD_API_SECRET`, the are in place. Otherwise, the Terraform provider would not be able to create any resource.

[2022-03-17 01:51] linouk23 commented on #55
Thanks for sending these details @ggmoy-tt!

So the issue is related to step #3:
[code]

As of _right now_, even if the owner of Kafka API Key is a *service account (and not a user)* and its role is `OrganizationAdmin` its permissions doesn't "apply" on a cluster level (ACL / topic creation) so there're 2 options:
1. Wait around 1-2 weeks 🤞 for us to release a feature / fix such that ⬆️ will start

[2022-03-17 15:45] ggmoy-tt commented on #55
Thanks for your time, @linouk23!

I think we'll wait for the fix. We don't like the idea of using user accounts because, as stated in the [Access Control List documentation](https://docs.confluent.io/cloud/current/access-management/access-control/acl.html#acl-manage), anyone with access to a particular cluster while using the Cloud Console browser has full access to all resources in that cluster (

[2022-03-17 20:51] linouk23 commented on #55
Sounds good, I'll keep this issue open and update you as soon as Kafka RBAC goes GA such that your Kafka API Key created with:
[code]
will stop returning `403` for you 👌

[2022-03-17 20:54] ggmoy-tt commented on #55
Actually, the command used to create the API Key is the following:

[code]

[2022-03-17 20:59] linouk23 commented on #55
Oh right, that's a typo (I mean Kafka API Key owned by a service account with `CloudClusterAdmin` role assigned), sorry about that!

Sounds good, I'll keep this issue open and update you as soon as Kafka RBAC goes GA such that your Kafka API Key created with:
[code]
will stop returning `403` 👌

[2022-03-18 12:32] abintrd commented on #30
As an example consider deploying a JDBC source connector to Postgres. In my Postgres instance I have a password policy which says rotate the password every 6 months. Without a secret management service I end up modifying the connector configuration manually or via a CD pipeline. I would definitely prefer this with a CD pipeline rather than manual. That means I need some way of managing secrets in

[2022-03-22 18:17] jmborsani commented on #52
Hi, @jfosdick

I've tried to use your suggestion:

[code]

But, I've gotten this error:

[code]

Any idea what it could be?

[2022-03-22 18:46] linouk23 commented on #52
@jmborsani based on the error message, it looks like you've passed both `basic`, `standard` somehow.

Could you try the following instead? So if you've got `example` directory and then create 3 files: `main.tf`, `variables.tf`, `terraform.tfvars`:

* `main.tf`:
[code]

* `terraform.tfvars`:
[code]
* `variables.tf`:
[code]

### Testing
[code]

[2022-03-22 19:39] fprojetto opened #57 "confluentcloud_service_account update dispay_name fails"
Changing the `display_name` in a resource of type `confluentcloud_service_account` does not work.

The provider tries to update the field but the Confluent API does not allow to update the display_name, see [API docs](https://docs.confluent.io/cloud/current/api.html#operation/updateIamV2ServiceAccount).

Proposed solution: change the schema to recreate the service account when the display name is

[2022-03-22 20:16] jmborsani opened #58 "Unable to import cluster from confluent cloud"
## Terraform version
[code]

## Configuration

The API key was created following this documentation:
https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/guides/sample-project#get-a-confluent-cloud-api-key

[code]

## Command

[code]
The environment_id looks like  `env-1234` and cluster_id looks like `lkc-1234`.

## Output

[code]

## Trace

[code]

[2022-03-22 20:24] linouk23 commented on #57
Thanks for opening the issue @fprojetto and proposing the solution!

We'll add it to our next release 👍

[2022-03-22 20:28] linouk23 commented on #58
Thanks for opening an issue @jmborsani!

That's definitely a bug (displaying _Import successful!_ vs actual `403`) that we will address in our next release.

Speaking about the reason why you got `403`, you need to set the following env variables first before importing the resource:
[code]

Let me know if that helps.

[2022-03-22 20:33] jmborsani commented on #58
That worked. Thank you! @linouk23

[2022-03-22 21:16] jmborsani commented on #52
Hi, @linouk23! That worked! I needed to upgrade the Terraform's version to 0.15.5:

[code]

TF-Plan:
[code]

Before, I was running with terraform 0.14.8.

Thanks again! :)

[2022-03-22 22:00] linouk23 commented on #55
@ggmoy-tt fyi Granular role-based access control (RBAC) for Kafka resources is promoted to General Availability (see [here](https://docs.confluent.io/cloud/current/release-notes/index.html#march-22-2022) for more details).

[2022-03-23 10:57] ggmoy-tt commented on #55
@linouk23, I'm still receiving a `403` trying to create `confluentcloud_kafka_acl`.

[2022-03-23 16:21] linouk23 commented on #55
@ggmoy-tt, right, what's happening is the owner of your Kafka API Key:
[code]
is a "fresh" service account without any permissions (let alone "create ACLs" permission) so first you need to add a `CloudClusterAdmin` role to it:
[code]
and then
[code]
and then
[code]

Unfortunately `api_key` resource isn't ready yet but will be available soon 🤞  so you can't avoid this manual step at the moment. Lat

[2022-03-29 22:53] #52 closed

[2022-03-29 23:18] ConfluentSpencer commented on #25
Duplicate of this request:
https://github.com/confluentinc/terraform-provider-confluentcloud/issues/4

[2022-03-29 23:21] ConfluentSpencer commented on #23
Work to improve Topic and ACL Resources for Private Link clusters is underway.

[2022-03-29 23:24] ConfluentSpencer commented on #18
Partial duplicate of this request:
https://github.com/confluentinc/terraform-provider-confluentcloud/issues/45

[2022-03-29 23:25] ConfluentSpencer commented on #17
Duplicate of this ask:
https://github.com/confluentinc/terraform-provider-confluentcloud/issues/4

[2022-03-30 06:50] linouk23 commented on #55
@ggmoy-tt did you have a chance to test it out again?

[2022-03-31 01:32] scotartt commented on #4
hi

what is the expected release date of this feature? it's in the way of our work in automating topic configuration because of the manual step.

how will this feature work? Given that on the Confluent CLI, I can type as follows:

[code]

and the topic is created!

[2022-03-31 01:37] linouk23 commented on #4
👋 @scotartt, here's a sample of TF configuration with `api_key` resource that displays how it will work (TLDR: create Kafka cluster + Kafka API Key + Kafka Topic (and other resources) in a single `terraform apply` run):
[code]

We're testing out `api_key` resource at the moment and targeting end of March.

[2022-03-31 01:49] scotartt commented on #4
Hi @linouk23

What if we don't want to create the environment/cluster all in one go?  Our TF approach is that one pipeline will run to create the target environments and clusters (because the former especially needs **OrgAdmin** rights to create and the latter needs **EnvironmentAdmin** over the environment at minimum), and then multiple other pipelines which each contain only a small subset of th

[2022-03-31 01:57] linouk23 commented on #4
Sure, you could create environment, cluster and app-manager service account using pipeline `#1` (module `#1`).

And then run pipeline `#2` (module `#2`) that would use Cloud API Key of a service account with `EnvironmentAdmin` role instead:
[code]
to create just Kafka API Key and Kafka Topic for the target cluster (including other resources like ACLs etc if necessary).

It's worth mentioning that

[2022-03-31 11:33] ggmoy-tt commented on #55
Yes, I could test it. I confirm that, following your instructions, it is working.

Thanks so much for your help!

[2022-03-31 14:57] #55 closed

[2022-03-31 15:21] linouk23 commented on #55
Closing because the underlying issue is resolved, NPE exception will be fixed in the next release 👌

[2022-04-03 04:29] linouk23 opened #61 "Add confluentcloud_user data source"
### What
Add confluentcloud_user data source (see [User](https://docs.confluent.io/cloud/current/api.html#tag/Users-(iamv2)) on the Confluent Cloud API docs).

### How
We could start by looking at @dwimsey's amazing [PR](https://github.com/confluentinc/terraform-provider-confluentcloud/pull/60).

[2022-04-05 18:00] nbommu commented on #41
while creating api keys can you stash them in aws Secret Manager or Azure Key Vault etc.. automatically, so that service can pull them during bootstrap?

[2022-04-05 18:08] linouk23 commented on #41
@nbommu that's an interesting idea, do you have an example in mind or something?

[2022-04-05 23:31] scotartt commented on #4
Hi, after working on this for the past week I've got some additional feedback.

Assuming a configuration for a topic as you had above:

[code]

For comparison, I'm basing my experience over what I need to do to create these similar objects with the Confluent CLI v2.

The problems all start and mainly end with these parameters:
[code]

The `http_endpoint` appears to be a a complex object, and is ha

[2022-04-05 23:54] linouk23 commented on #4
Thanks for the message @scotartt!

Sounds like you'd prefer this resource definition then (similar to CLI design), is that accurate?
[code]
to avoid having `http_endpoint` attribute?

[2022-04-07 07:21] VipulZopSmart opened #62 "Confluent Cloud Schema Registry resource"
Hi @linouk23, hope you're doing well!

Could you please kindly let me know how can we manage schema registry in the confluent cloud using terraform. I dont think right now this provider supports that? What are you thoughts about this? Or is there any other way to do that.

[2022-04-07 07:21] VipulZopSmart opened #71 "Add Confluent Cloud Schema Registry resource"

[2022-04-07 07:27] linouk23 commented on #62
👋 thanks for asking @VipulZopSmart!

That's correct, right now TF Provider doesn't support it. It's on our roadmap but can't tell you the exact timelines yet.

[2022-04-08 12:12] VipulZopSmart opened #63 "Add resource for resource specific access"
Hi @linouk23,

For the [resource specific keys](https://docs.confluent.io/cloud/current/access-management/authenticate/api-keys/api-keys.html#resource-specific-api-keys), i.e giving access to service account for particular operations(ACL) to the specific cluster(or topic), i think that is also not present in the terraform yet. Could you please confirm when can we expect this resource would be comi

[2022-04-08 17:11] linouk23 commented on #63
👋 thanks for opening an issue @VipulZopSmart! I feel like your question is more about when we'll add a support for `api_key` resource that will support Kafka clusters (see #4 for tracking), Schema Registry, and ksqlDB.

that's something that [role binding](https://registry.terraform.io/providers/confluentinc/confluentcloud/latest/docs/resources/confluentcloud_role_binding) resource can help with a

[2022-04-11 12:43] VipulZopSmart commented on #63
@linouk23, i've a query so i've created two keys(for service account having ACLs) to particular topic(say sample-topic), one key for publisher having WRITE operation, one for consumer having READ operation, after that i tried to publish messages from publisher app(it got published) but at the consumer side i'm not able to consume those messages(tried some other operations also like DESCRIBE). What

[2022-04-11 15:51] linouk23 commented on #63
@VipulZopSmart here's a full set of ACLs you need:
[code]

Let me know if it helps!

[2022-04-11 15:55] linouk23 opened #64 "Issues consuming to consume messages after creating some ACLs"
### What
![image](https://user-images.githubusercontent.com/5459870/162781139-93267fb7-2791-4711-a348-a347c1c97eaf.png)

[Link to the comment](https://github.com/confluentinc/terraform-provider-confluentcloud/issues/63#issuecomment-1095003577)

[2022-04-11 15:55] linouk23 commented on #64
@VipulZopSmart here's a full set of ACLs you need:
[code]

Let me know if it helps!

[2022-04-11 16:35] VipulZopSmart commented on #64
Thanks, it worked for that. One thing, how should i generate service accounts(for producers and consumers) from a array of topics and i think there should be only one producer and one consumer for each topic.

[2022-04-11 16:53] linouk23 commented on #64
That's interesting, I think it depends on a use case and it might be OK to share the same producer / consumers for multiple topics. If you do want to create one-to-one mapping then `for_each` [meta-argument](https://www.terraform.io/language/meta-arguments/for_each) might help. Feel free to open another issue if you need a little bit more details about this question.

[2022-04-11 16:53] #64 closed

[2022-04-15 09:47] s7an-it commented on #41
Terraform Vault provider.
Basically you create secret in vault and then rest of the resources source it from it.

[2022-04-15 13:50] linouk23 commented on #41
@s7an-it could you share an example of such a workflow? Assume that
[code]
exports `.id, .secret` attributes

[2022-04-21 10:28] vweckerle commented on #4
Hi guys,
any updates on the planned release date for the new confluentcloud_api_key resource?
This is quite crucial for us, as the terraform provider is not really useful, without a way to manage api keys.
Greetings
Valentin

[2022-04-21 13:33] JWDobken opened #66 "Add Kafka API key as a resource"
I am missing the creation of an API key in the cluster environment. We are migrating from the unofficial provider: [Mongey/terraform-provider-confluentcloud](https://github.com/Mongey/terraform-provider-confluentcloud).

What I expect as input:

[code]

That outputs the key and secret as input for topics:

[code]

[2022-04-21 15:41] linouk23 commented on #66
👋 @JWDobken thanks for opening an issue!

We're aware of this issue and it's been a pretty popular ask indeed: see #4, #17, #25.

The latest news is that we're targeting to release a new version of TF Provider (with `confluentcloud_api_key` resource) on April 28th 🤞

[2022-04-25 07:59] JWDobken commented on #66
Thanks for your reply @linouk23

I'll close this issue and keep an eye on the other issues :)

[2022-04-25 07:59] #66 closed

[2022-04-27 16:12] stripthesoul opened #67 "Attempting to create topics in a foreach within a resource"
Hey, Im using the below code to create topics in our Confluent Cloud envs from a var list.
[code]

When applying the changes, the plugin stops responding:
[code]
 I also get the following error:
[code]

[2022-04-28 02:59] linouk23 commented on #67
👋 @stripthesoul,

Could you downgrade the version of your provider to `0.4.0` and rerun `terraform apply`? You should be able to see a little bit more descriptive error (this NPE that you can see will be fixed in our next`0.6.0` version)?

[2022-04-28 16:45] stripthesoul commented on #67
Actually reverting to lower version helped! Testing. Thanks @linouk23

[2022-04-29 07:07] maheshbhole commented on #66
Hi,

When is next release for this provider , with confluentcloud_api_key as resource?

[2022-04-29 19:03] AliaksandrShamchonak opened #68 "Error data after resource confluentcloud_service_account"
Service account was not found after service account was created via terraform. But service account is visible and can be use via CLI.

## Example:

[code]

## Log:
[code]

[2022-04-30 15:12] linouk23 commented on #68
Thanks for reporting the issue @AliaksandrShamchonak!

That's a duplicated of #54, it'll be fixed in our next release which is schedule for early next week.

[2022-05-02 15:50] muaaaz commented on #66
@linouk23 thanks for the feedback :)

[2022-05-03 16:57] stripthesoul opened #69 "ACL creation crash on both 0.5.0 and 0.4.0"
I am attempting to create an ACL as follows (result from the plan):
[code]

when I attempt to create the ACL using  confluent cloud provider 0.5.0, I get the following issue:

[code]

When I attempt to apply using 0.4.0:

[code]

[2022-05-03 16:57] stripthesoul opened #70 "ACL creation crash on both 0.5.0 and 0.4.0"
I am attempting to create an ACL as follows (result from the plan):
[code]

when I attempt to create the ACL using  confluent cloud provider 0.5.0, I get the following issue:

[code]

When I attempt to apply using 0.4.0:

[code]

[2022-05-03 20:07] danidr7 commented on #69
Same problem here.
A little more details in 0.5.0:
[code]

[2022-05-03 22:28] danidr7 commented on #69
Actually, I commit a huge mistake, I was confusing `cloud API keys`(the same configured in provider) with `kafka api keys`.
The resource `confluentcloud_kafka_acl` requires a `kafka api key` with ALTER permission in cluster.
Reference: https://docs.confluent.io/cloud/current/access-management/authenticate/api-keys/api-keys.html

[2022-05-03 23:00] stripthesoul commented on #69
I used Kafka keys not cloud keys, so my issue still persists

[2022-05-03 23:14] danidr7 commented on #69
@stripthesoul Is your Kafka key configured with ALTER permission for the cluster?

[2022-05-03 23:15] linouk23 commented on #69
It might be useful to check that the owner of Kafka API Key (service account) has a corresponding role (`CloudClusterAdmin`) / ACLs assigned.

[2022-05-03 23:35] stripthesoul commented on #69
I am trying to configure the Kafka Key to have Alter permissions on the cluster through Terraform. The documentation does not state otherwise. Whats the point of infra as code if we have to preconfigure everything?

[2022-05-03 23:39] stripthesoul commented on #69
@linouk23 the owner does have roles, but I will double check and get back to you! Thanks!

[2022-05-04 03:52] linouk23 commented on #4
@Jaxwood, @Marcus-James-Adams, @ronald05arias, @czerasz-mineiros, @mparker-variant, @jorgenfries, @PlugaruT, @mikhailznak @patrickschmelter @scotartt @vweckerle we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGEL

[2022-05-04 03:52] #4 closed

[2022-05-04 03:53] linouk23 commented on #17
@svetozar02 @AClarkie, @marthjod we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with

[2022-05-04 03:53] #17 closed

[2022-05-04 03:54] linouk23 commented on #25
@vilmosnagy, @itaykat we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more ma

[2022-05-04 03:54] #25 closed

[2022-05-04 03:57] linouk23 commented on #41
@s7an-it, @nbommu, @PlugaruT, @jorgenfries, @czerasz-mineiros, @Caislear, @mikhailznak, @jonathanjuursema, @JWDobken, @YuviGold we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automate

[2022-05-04 03:57] #41 closed

[2022-05-04 03:57] linouk23 commented on #63
@VipulZopSmart we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other very exciting improvements: it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual intervention and makes it our biggest and most impactful release.

The only gotcha we've re

[2022-05-04 03:57] #63 closed

[2022-05-04 03:58] linouk23 commented on #45
@tatianameleshko we're very excited to let you know we've just published a new version of TF Provider that includes `network` / `privatelink` / `peering` resources among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/

[2022-05-04 03:58] #45 closed

[2022-05-04 03:58] linouk23 commented on #61
We're very excited to let you know we've just published a new version of TF Provider that includes `user` data source among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual intervention and

[2022-05-04 03:58] #61 closed

[2022-05-04 03:59] linouk23 commented on #57
@fprojetto we're very excited to let you know we've just published a new version of TF Provider that includes the fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.m): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual int

[2022-05-04 03:59] #57 closed

[2022-05-04 04:08] linouk23 commented on #66
@muaaaz, @maheshbhole, @JWDobken we're very excited to let you know we've just published a new version of TF Provider that includes `api_key` resource among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with

[2022-05-04 04:10] linouk23 commented on #54
@ngapaillard  we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual i

[2022-05-04 04:10] #54 closed

[2022-05-04 04:11] linouk23 commented on #68
@AliaksandrShamchonak we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more

[2022-05-04 04:11] #68 closed

[2022-05-04 04:11] linouk23 commented on #58
@jmborsani we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual inte

[2022-05-04 04:11] #58 closed

[2022-05-04 04:12] linouk23 commented on #53
@VipulZopSmart we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual

[2022-05-04 04:12] linouk23 commented on #55
@ggmoy-tt we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual inter

[2022-05-04 04:12] linouk23 commented on #67
@stripthesoul we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual i

[2022-05-04 04:12] #67 closed

[2022-05-04 04:13] linouk23 commented on #49
We're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual intervention an

[2022-05-04 04:13] #49 closed

[2022-05-04 04:15] linouk23 commented on #23
@igwejk, @tatianameleshko we're very excited to let you know we've just published a new version of TF Provider that includes a fix for this issue (adding PrivateLink support) among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://ascii

[2022-05-04 04:15] #23 closed

[2022-05-04 04:18] linouk23 commented on #18
@Marcus-James-Adams, @sknop we're very excited to let you know we've just published a new version of TF Provider that includes `network` / `privatelink` / `peering` resources among other [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://ascii

[2022-05-04 04:18] #18 closed

[2022-05-04 04:19] linouk23 commented on #70
@stripthesoul we're very excited to let you know we've just published a new version of TF Provider that includes a lot of very [very exciting improvements](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md): it enables fully automated provisioning of our key Kafka workflows (see the [demo](https://asciinema.org/a/491871)) with no more manual intervention and mak

[2022-05-04 04:27] stripthesoul commented on #70
@linouk23 I will test the changes this week and report back. Thank you!

[2022-05-04 08:41] muaaaz commented on #66
@linouk23 thanks for the update this sounds really cool! However, it seems that there is an issue with the documentation website. After navigating to the [confluent_api_key](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key) resource page from the [sample-project](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/guides/

[2022-05-04 09:02] AliaksandrShamchonak opened #73 "Failed to query available provider packages"
I'm trying to use a new provider. I think I don't have the access to the repository:
https://github.com/confluentinc/terraform-provider-confluent
Maybe the repository is private?

## Example:
[code]

## Log:
[code]

[2022-05-04 10:45] jorgenfries commented on #73
Getting the same.. :(

`Error: Failed to install provider
Error while installing confluentinc/confluent v0.7.0: could not query
provider registry for registry.terraform.io/confluentinc/confluent: failed to
retrieve authentication checksums for provider: 404 Not Found `

[2022-05-04 11:10] jorgenfries commented on #70
@linouk23 - Seems to be some issues with the new provider - the reference is returning 404
confluentinc/terraform-provider-confluent#11

[2022-05-04 11:35] jon-butterworth opened #74 "No ability to automate creation of cluster api-keys"
There doesn't seem to be a way to create the api-keys required for topic creation in an automated fashion? The guide suggests the need for creating the cluster using TF, then manually creating the api-keys on the created cluster, and then adding the keys to TF for another run of TF to create the topics.

This doesn't seem very efficient, and no really in-line with TF's use case.

Am I missing some

[2022-05-04 12:11] nikolai-fra opened #75 "New provider confluentinc/confluent not usable"
All updated links to the new provider like <https://github.com/confluentinc/terraform-provider-confluent/issues> are returning 404.

Using the new provider in terraform (as described [here](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs) is not working:

[code]
I think these checksums are fetched from github -> so same problem

I assume the new github repo is still (wro

[2022-05-04 13:23] danidr7 commented on #70
@linouk23 I'm very interested in the new solution, however the links you pasted here are broken: https://github.com/confluentinc/terraform-provider-confluent

[2022-05-04 14:23] linouk23 commented on #73
Thanks for reporting the issue! It does work for me 🤔

@AliaksandrShamchonak could you confirm you updated your

[code]
to
[code]
provider "confluent" {}
[code]

[2022-05-04 14:28] linouk23 commented on #75
@nikolai-fra you're right, we're working to fix it 👍

[2022-05-04 14:31] linouk23 commented on #75
The repo is public again, could you try again @nikolai-fra?

[2022-05-04 14:56] linouk23 commented on #66
@muaaaz thanks for reporting it! I've opened https://github.com/confluentinc/terraform-provider-confluent/issues/10 where I'll publish the missing doc as a screenshot for now and then we'll update a provider.

[2022-05-04 15:20] linouk23 commented on #70
@jorgenfries @danidr7 @stripthesoul thanks for reporting the issue!

We've just [fixed](https://github.com/confluentinc/terraform-provider-confluent/issues/11) it, could you try again?

![image](https://user-images.githubusercontent.com/5459870/166714428-9e8558e7-1ad6-46b7-b9bc-bbfff1e486ec.png)

[2022-05-04 20:36] linouk23 commented on #74
@jon-butterworth please use `0.7.0` [version](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/guides/sample-project) where we introduce `confluent_api_key` [resource](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key).

[2022-05-04 20:36] #74 closed, assigned to nobody

[2022-05-04 22:44] adronamraju commented on #61
Hi @linouk23 , I noticed you added API keys to the official provider. is this for cloud, schema and cluster API keys? if so, does the cluster API key work on Dedicated Clusters on Private Link?

[2022-05-05 01:53] linouk23 commented on #61
@adronamraju you might take a look at `confluent_api_key` resource's [docs](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key) for all the details but to answer your specific question, as of now (`0.7.0` version) `confluent_api_key` resource supports both Cloud and Kafka API Keys (schema registry clusters / keys are not supported at the moment).

[2022-05-05 08:16] muaaaz commented on #66
@linouk23 awesome thank you very much for the quick response!

[2022-05-05 16:15] linouk23 commented on #66
update: the docs were updated and https://github.com/confluentinc/terraform-provider-confluent/issues/10 has been closed ✅

[2022-05-11 13:44] louis-vines opened #76 "Connect + Schema Registry?"
Are configuring kafka connect connectors and schema registry on the roadmap?

[2022-05-17 08:11] linouk23 commented on #76
👋 @louis-vines thanks for opening an issue!

Please checkout `0.8.0` for `confluent_connector` resource and SR is on the roadmap, see https://github.com/confluentinc/terraform-provider-confluent/issues/5.

[2022-05-17 08:13] #70 closed

[2022-05-17 08:14] #76 closed, assigned to nobody